In [1]:
#Lab 10, Part A
#Sebastian Torres

John = 75
Ann = 80
Ally = 60

myString = "Scores were as following: John: {:2d}, Ann: {:2d}, Ally: {:2d}"

print(myString.format(John,Ann,Ally))

Scores were as following: John: 75, Ann: 80, Ally: 60

In [2]:
#Sebastian Torres
#Lab 10, Part B

def multitable(n):
    i = 1
    while(i <= 9):
        y = i * n
        print("{:d} x {:d} = {:2d}".format(i,n,y))
        i += 1
        

multitable(9)

1 x 9 =  9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81